.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Avail-Slot {
  color: #222;
  background-color: white;
  margin: 2px;
  width: 200px;
  margin-left:auto;
  margin-right:auto;
  border-width:1px;
  border-color: #d5d5d5;
  border-style:solid;
  padding: 5px;



}

.Unavail-Slot {
  color: #d5d5d5;
  background-color: white;
  margin: 2px;
  width: 200px;
  margin-left:auto;
  margin-right:auto;
  border-width:1px;
  border-color: #d5d5d5;
  border-style:solid;
  padding: 5px;

}

.month {
    color: white;
    background-color: black;
    padding: 10px;
    padding-bottom: 0px;
    font-size: 8pt;
    border:0px;
    border-radius: 3px;
}

.day {
    color: white;
    background-color: black;
    font-size: 20pt;

}

.weekday {
    background-color: #E1E2E4;
    color: black;
    border-radius: 3px;

}
.DateEntry {
    width: 62px;
    float: left;
    margin:5px;
    display: inline-block;
    border-radius: 5px;
    background-color: black;

}

.DateList:after{
    content: "";
    display: table;
    clear: both;

}

.DateList{
    text-align: center;
    width:288px;
    margin:auto;
}

.lineSeparator{
    color: #dddddf;
    background: #dddddf;
    width: 80%;
    height: 1px;
    margin:auto;
}

#CoachList:after{
  content: "";
  display:table;
  clear:both;
}
